body{
    background-image: url('bg3.gif');
    background-size:100%;  
}



p{
    text-align: left;
    font-size: 35px;
    color: rgb(250, 6, 189);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
}

#carouselSite img 
{
    
    max-width: 500px;
    max-height: 500px;

}
